<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paper{s}pace</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{${document.links[self]}}" href="/task.html">back</a>
        </div>
    </div>
</nav>
<main class="container mt-5 px-5">
    <div class="columns">
        <div id="preview-loading-panel" class="column mt-5">
            <div class="has-text-centered">loading ...</div>
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <div id="edit-panel" class="page-edit-container column columns is-multiline">
        </div>
    </div>
    <div class="columns">
        <div class="column is-12  has-text-right">
            <a class="button is-upload is-full-width-mobile ladda-button" data-spinner-color="#007bff" data-style="zoom-in" data-toggle="modal" data-target="#modal">save changes</a>
        </div>
    </div>
</main>
<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <i class="column is-2 fas fa-exclamation-triangle has-text-warning is-size-1"></i>
            <p class="modal-card-title">Update?</p>
            <button class="delete" aria-label="close" data-toggle="modal" data-target="#modal"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column">
                    <p>Are you sure you want to update this document?</p>
                    <p>This will change the current document on the filesystem! After that the new version has to be processed again.</p>
                    <p><strong class="has-text-danger-dark">This action can't be reverted.</strong></p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" id="updateButton">Update document</button>
            <button class="button" data-toggle="modal" data-target="#modal">Cancel</button>
        </footer>
    </div>
</div>
</body>

<script src="/js/vendor/jquery-3.5.1.min.js" th:src="@{/js/vendor/jquery-3.5.1.min.js}" type="text/javascript"></script>
<script src="/js/vendor/handlebars.min-v4.7.7.js" th:src="@{/js/vendor/handlebars.min-v4.7.7.js}" type="text/javascript"></script>
<script src="/js/vendor/luxon.js" th:src="@{/js/vendor/luxon.js}" type="text/javascript"></script>
<script src="/js/main.js" th:src="@{/js/main.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        let editController = new EditController({
            pages: /*[[${document.links[pages]}]]*/ '/api/edit/pages.json',
            updateUrl: /*[[${document.links[pages]}]]*/ '/api/edit/pages.json',
            appUrl: /*[[(${appHost})]]*/ '/',
            panel: '#edit-panel',
            saveButton: '#updateButton',
            loadingContainer: '#preview-loading-panel'
        })
        editController.init();
    });




</script>
</html>
