<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paper{s}pace</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}" href="../">
            <span class="is-size-5">paper{s}pace</span>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-toggle="side-navigation" data-target="side-navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item" id="status-container"></div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="is-link has-text-black mr-2" th:href="@{/manage.html}" href="/manage.html">manage <span class="icon"><i class="fas fa-cog"></i></span></a>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar has-shadow">
    <div class="navbar-item is-expanded">
        <div class="field has-addons" style="flex-grow: 1;">
            <p class="control is-expanded">
                <input id="search" class="input" type="text" placeholder="Search you documents by keyword">
            </p>
            <div class="control has-icons-left is-hidden-touch">
                <div class="select">
                    <select class="page-size-selection">
                        <option value="20">show 20 items</option>
                        <option value="50">show 50 items</option>
                        <option value="100">show 100 items</option>
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fas fa-hashtag"></i>
                </div>
            </div>
            <p class="control">
                <button id="searchButton" class="button is-upload">
                    <span class="icon is-small">
                     <i class="fas fa-search"></i>
                    </span>
                </button>
            </p>
        </div>
    </div>
    <div class="navbar-item is-expanded is-hidden-desktop">
        <div class="control has-icons-left is-expanded">
            <div class="select">
                <select class="page-size-selection">
                    <option value="20">show 20 items</option>
                    <option value="50">show 50 items</option>
                    <option value="100">show 100 items</option>
                </select>
            </div>
            <div class="icon is-small is-left">
                <i class="fas fa-hashtag"></i>
            </div>
        </div>
    </div>
</nav>
<main class="columns">
    <aside id="side-navigation" class="column is-3 is-2-widescreen aside is-fullheight is-hidden-touch">
        <div class="compose has-text-centered">
            <div class="file">
                <label class="file-label is-full-width has-text-centered">
                    <input class="file-input" type="file" multiple="multiple"
                           accept="image/jpeg, image/png, application/pdf" name="upload">
                    <span class="file-cta is-upload is-full-width  has-text-centered">
                      <span class="file-label is-block is-full-width has-text-centered">upload</span>
                    </span>
                </label>
            </div>
        </div>
        <div class="main" id="actions">
            <button data-action="clear" class="item button is-full-width is-text has-text-left is-block is-white">
                <span class="icon"><i class="fas fa-inbox"></i></span>
                <span class="name">All</span>
            </button>
            <button data-action="open-tasks" class="item button is-full-width is-text has-text-left is-block is-white">
                <span class="icon"><i class="far fa-clock"></i></span>
                <span class="name">All open tasks</span>
                <span class="icon is-pulled-right tag-remove"><i class="fas fa-minus-circle"></i></span>
            </button>
            <button data-action="open-untagged" class="item button is-full-width is-text has-text-left is-block is-white">
                <span class="icon"><i class="fas fa-clipboard-check"></i></span>
                <span class="name">Untagged documents</span>
                <span class="icon is-pulled-right tag-remove"><i class="fas fa-minus-circle"></i></span>
            </button>
        </div>
        <div class="side-navigation-divider"></div>
        <div class="main" id="tags">
            <div id="tags-container"></div>
        </div>
        <div class="side-navigation-divider is-hidden-desktop"></div>
        <div class="has-text-right  is-hidden-desktop">
            <a class="is-link has-text-black" th:href="@{/manage.html}" href="/manage.html">manage <span class="icon"><i class="fas fa-wrench"></i></span></a>
        </div>
    </aside>
    <div class="column is-fullheight ">
        <div class="mt-3 columns is-multiline">
            <div id="error-container" class="column is-12">
            </div>
            <div class="action-buttons has-text-right column is-12">
                <div class="pagination control is-grouped pg"></div>
            </div>
            <div class="column is-12">
                <div id="search-results" class="columns documents is-multiline"></div>
                <div id="loading-panel" class="columns mt-5">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
            <div class="action-buttons has-text-right column is-12">
                <div class="pagination control is-grouped pg"></div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">What do you want to create?</p>
                <button class="delete" aria-label="close" data-toggle="modal" data-target="#modal"></button>
            </header>
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column has-text-centered">
                        <button data-type="TASK" class="button is-type-chooser is-upload">
                          <span class="icon is-large">
                            <i class="fas fa-clipboard-check"></i>
                          </span>
                        </button>
                        <div>create a new task</div>
                    </div>
                    <div class="column has-text-centered">
                        <button data-type="DOCUMENT" class="button is-type-chooser is-upload">
                          <span class="icon is-large">
                            <i class="far fa-file"></i>
                          </span>
                        </button>
                        <div>create a new document</div>
                    </div>
                </div>
                <div class="columns">
                    <div id="filename-display" class="column has-text-centered">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button" data-toggle="modal" data-target="#modal">Cancel</button>
            </footer>
        </div>
    </div>
</main>
</body>
<script src="/js/vendor/jquery-3.5.1.min.js" th:src="@{/js/vendor/jquery-3.5.1.min.js}" type="text/javascript"></script>
<script src="/js/vendor/luxon.js" th:src="@{/js/vendor/luxon.js}" type="text/javascript"></script>
<script src="/js/main.js" th:src="@{/js/main.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        const searchController = new SearchController({
            input: '#search',
            endpoint: '/api/search.json',
            tagEndpoint: '/api/tags.json',
            tagContainer: '#tags-container',
            results: '#search-results',
            loading: '#loading-panel',
            pagination: '.pagination',
            pageSizeSelector: '.page-size-selection',
            timeout: 250
        });
        console.log('index ready');
        searchController.init();

        const uploadController = new UploadController({
            input: '[name=upload]',
            typeChooser: '#modal',
            filenameLabel: '#filename-display'
        });
        uploadController.init();

        const statusController = new StatusController({
            pendingFilePanel: '#status-container'
        }, [searchController]);
        statusController.init();

        const errorController = new ErrorController({
            errorLabel: '#error-container'
        });
        errorController.init();

        const scriptUrl = /*[[(@{/js/vendor/lazysizes.min.js})]]*/ '/js/vendor/lazysizes.min.js';
        if (!('loading' in HTMLImageElement.prototype)) {
            const script = document.createElement('script');
            script.src = scriptUrl
            document.body.appendChild(script);
        }
    })


</script>
</html>
