<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paper{s}pace</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">paper{s}pace</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
</nav>
<main class="container mt-5 px-5">
    <div class="columns">
        <div class="column is-12">
            <div class="columns">
                <div class="column is-3"><h2 class="is-size-4">Search</h2></div>
                <div class="column is-6">
                    <div><p class="has-text-black">This action will clear the current full-text search index and resubmits
                        all documents again for indexing.</p></div>
                </div>
                <div class="column is-3 has-text-right">
                    <div>
                        <button id="reindex" class="button is-warning"
                                title="This action will clear the current full search index and resubmits all documents again for indexing.">
                            re-index documents
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-12 side-navigation-divider"></div>
    </div>
    <div class="columns">
        <div class="column is-12">
            <div class="columns">
                <div class="column is-3"><h2 class="is-size-4">Tags</h2></div>
                <div class="column is-9">
                    <div class="columns">
                        <div class="column is-9">
                            <div><p class="has-text-black">Add, Edit or Delete Tags</p></div>
                        </div>
                        <div class="column is-3 has-text-right">
                            <a class="button is-default" href="/tags.html" th:href="@{/manage/tags.html}">manage Tags</a>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12 side-navigation-divider"></div>
                    </div>
                    <div class="columns">
                        <div class="column is-9">
                            <div><p class="has-text-black">This action will resubmit all documents to be re-tagged with
                                the current tag search patterns. It will not remove any tags from any document.</p>
                            </div>
                        </div>
                        <div class="column is-3 has-text-right">
                            <button id="re-tag-documents" class="button is-warning">re-tag documents</button>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12 side-navigation-divider"></div>
                    </div>
                    <div class="columns">
                        <div class="column is-9">
                            <div><p class="has-text-black">This action will remove any associated tags from
                                <strong>all</strong> documents! This action can't be reverted. You propably want to
                                re-tag your documents afterward.</p></div>
                        </div>
                        <div class="column is-3 has-text-right">
                            <button id="remove-tags" class="button is-danger">remove tags</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-12 side-navigation-divider"></div>
    </div>
</main>
</body>

<script src="/js/vendor/jquery-3.5.1.min.js" th:src="@{/js/vendor/jquery-3.5.1.min.js}" type="text/javascript"></script>
<script src="/js/vendor/handlebars.min-v4.7.7.js" th:src="@{/js/vendor/handlebars.min-v4.7.7.js}"
        type="text/javascript"></script>
<script src="/js/vendor/luxon.js" th:src="@{/js/vendor/luxon.js}" type="text/javascript"></script>
<script src="/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}" type="text/javascript"></script>
<script src="/js/vendor/select2.min.js" th:src="@{/js/vendor/select2.min.js}" type="text/javascript"></script>
<script src="/js/main.js" th:src="@{/js/main.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        const reindexButton = $('#reindex');
        const retagButton = $('#re-tag-documents');
        const clearTagButton = $('#remove-tags');

        appendLoadingTrigger(reindexButton, () => $.post('/re-index'), () => reindexButton.text('Re-Index done'))
        appendLoadingTrigger(retagButton, () => $.post('/re-tag'), () => retagButton.text("Re-Tagging started..."));
        appendLoadingTrigger(clearTagButton, () => $.post('/clear-tags'), () => clearTagButton.text("Tags cleared"));

        function appendLoadingTrigger(button, action, doneExtensions) {
            button.on('click', (e) => {
                button.toggleClass('is-loading');
                action()
                    .done(() => {
                    button[0].setAttribute('disabled', 'disabled');
                    if (typeof doneExtensions === 'function') {
                        doneExtensions();
                    }
                    })
                    .always(() => {
                        button.toggleClass('is-loading');
                    })
            });
        }
    });


</script>
</html>
