<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paper{s}pace</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">paper{s}pace</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
</nav>
<main class="container mt-5 px-5">
    <div class="columns">
        <div class="column is-12">
            <div class="columns">
                <div class="column is-3"><h2 class="is-size-4">Tags</h2></div>
                <div class="column is-9">
                    <div class="columns">
                        <div class="column is-12">
                            <table id="tag-table" class="table is-fullwidth is-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Search-Pattern</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:data-id="${tag.id}" th:each="tag : ${tags}">
                                    <td><input class="input" type="text" th:value="${tag.name}" value="2024"/></td>
                                    <td><input class="input" type="text" th:value="${tag.pattern}" value="2023"/></td>
                                    <td>
                                        <button class="button is-danger" title="delete tag"><i
                                                class="icon fa fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr th:remove="all">
                                    <td><input class="input" type="text" value="2024"/></td>
                                    <td><input class="input" type="text" value="2024"/></td>
                                    <td>
                                        <button class="button is-danger" title="delete tag"><i
                                                class="icon fa fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr th:remove="all">
                                    <td><input class="input" type="text" value="2024"/></td>
                                    <td><input class="input" type="text" value="2024"/></td>
                                    <td>
                                        <button class="button is-danger" title="delete tag"><i
                                                class="icon fa fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr id="new-tag-row">
                                    <td></td>
                                    <td>
                                        <label for="new-tag-input" class="label">New Tag:</label>
                                        <div class="field has-addons">
                                            <input id="new-tag-input" class="input " type="text"
                                                   placeholder="Enter new tag here"/>
                                            <div class="control has-icons-left is-hidden-touch">
                                                <button class="button is-primary">add</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-9">
                            <div><p class="has-text-black"></p></div>
                        </div>
                        <div class="column is-3 has-text-right">
                            <button id="save-tags" class="button is-primary">save Tags</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-12 side-navigation-divider"></div>
    </div>
</main>
</body>

<script src="/js/vendor/jquery-3.5.1.min.js" th:src="@{/js/vendor/jquery-3.5.1.min.js}" type="text/javascript"></script>
<script src="/js/vendor/handlebars.min-v4.7.7.js" th:src="@{/js/vendor/handlebars.min-v4.7.7.js}"
        type="text/javascript"></script>
<script src="/js/vendor/luxon.js" th:src="@{/js/vendor/luxon.js}" type="text/javascript"></script>
<script src="/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}" type="text/javascript"></script>
<script src="/js/vendor/select2.min.js" th:src="@{/js/vendor/select2.min.js}" type="text/javascript"></script>
<script src="/js/main.js" th:src="@{/js/main.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        const saveTagButtons = $('#save-tags');

        function createData() {
            const result = [];

            const tagRows = $("#tag-table tr[data-id]");
            for (const tagRow of tagRows) {
                const columns = $('td', tagRow);
                const name = $('input', columns[0]).val();
                const pattern = $('input', columns[1]).val();
                result.push({
                    id: `${tagRow.getAttribute('data-id')}`,
                    name: `${name}`,
                    pattern: `${pattern}`
                })
            }
            return result;
        }
        appendLoadingTrigger(saveTagButtons, () => $.ajax('/tag/save', {
            data: JSON.stringify(createData()),
            contentType: 'application/json',
            type: 'POST'
        }), () => saveTagButtons.text("Saved"));

        function appendLoadingTrigger(button, action, doneExtensions) {
            button.on('click', (e) => {
                button.toggleClass('is-loading');
                action().done(() => {
                    button[0].setAttribute('disabled', 'disabled');
                    if (typeof doneExtensions === 'function') {
                        doneExtensions();
                    }
                })
                    .always(() => {
                        button.toggleClass('is-loading');
                    })
            });
        }

        function addDeletionListeners() {
            $('button', $("#tag-table tbody tr").not('[id=new-tag-row]')).one('click', function (event) {
                $(event.currentTarget).parents("tr").remove()
            })
        }

        addDeletionListeners();

        $('button', $("#tag-table tbody tr[id=new-tag-row]")).on('click', function (event) {
            const val = $('#new-tag-input').val();
            $(event.currentTarget).parents("#new-tag-row").before(`<tr data-id="">
                                    <td><input class="input" type="text" value="${val}"/></td>
                                    <td><input class="input" type="text" value=""/></td>
                                    <td>
                                        <button class="button is-danger" title="delete tag"><i
                                                class="icon fa fa-trash-alt"></i></button>
                                    </td>
                                    </tr> `)

            addDeletionListeners();
        })


    });


</script>
</html>
